@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


/* body font size: 13px
weights: 500, 700 */

body {
    margin: 0;
    font-family: "Manrope" sans-serif;
}

:root {
    --verydarkblue: hsl(217, 19%, 35%);
    --desaturatedarkblue: hsl(214, 17%, 51%);
    --grayishblue: hsl(212, 23%, 69%);
    --lightgrayblue: hsl(210, 46%, 95%)
}

.container {
    background-color: var(--lightgrayblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 600px;
    height: 300px;
}

.table-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}